<h2 id="title">Welcome to Ember Labs Maps</h2>

{{log model}}
{{log model}}

{{#labs-map
  id='main-map'
  mapLoaded=(action 'handleMapLoad')
  initOptions=initMapOptions as |map|}}
  {{#map.labs-layers
    layerGroups=model.layerGroups as |layers|}}
    {{#layers.tooltip as |tooltip|}}
      {{tooltip.feature}}
    {{/layers.tooltip}}
  {{/map.labs-layers}}
{{/labs-map}}

{{outlet}}
