{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item 'What is Mapbox Composer?' 'docs.index'}}
    {{nav.item 'Getting Started' 'docs.quickstart'}}
    {{nav.item 'Data Structure' 'docs.data-structure'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section leading-normal">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}
